p {
    margin-top: 0px;
  }
   
  fieldset {
    margin-bottom: 15px;
    /* padding: 10px; */


    border:solid 1px #EE6600;
    border-radius:10px;
    padding:20px;
     
  }
   
  legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: x-large;
  }
   
  label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
  }
   
    
  em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
  }
    
  input:focus {
    background: #eaeaea;
  }
   
   
  select {
    width: 180px;
  } 

   
  input[type=submit] {
    width: 150px;
    padding: 10px;
  }


  @media screen and ( max-width : 350px ) {

    #date_inscription {
      margin: 0;
      display: block;
  }

  }
 